:root {
    // https://coolors.co/ff16dc-494947-bfc0c0-ef5d60-30343f
    /* RGB */
    --highlight: rgba(255, 22, 220, 1);
    --backcolor: rgba(73, 73, 71, 1);
    --backcolor2: rgba(191, 192, 192, 1);
    --header: rgba(239, 93, 96, 1);
    --header-dark: rgba(48, 52, 63, 1);
}
