@import './vars';

.stencil {
    font-family: 'Saira Stencil One', cursive;
}
.bungee {
    font-family: 'Bungee Shade', cursive;
}
html,
body {
    margin: 0px;
    width: 100%;
    height: 100%;
    max-height: 100vh;
}

.background-scroll-shadows {
    background:
            /* Shadow covers */ linear-gradient(
            var(--backcolor2) 30%,
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(rgba(255, 255, 255, 0), var(--backcolor2) 70%) 0 100%,
        /* Shadows */
            radial-gradient(
                farthest-side at 50% 0,
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0)
            ),
        radial-gradient(
                farthest-side at 50% 100%,
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0)
            )
            0 100%;
    background:
            /* Shadow covers */ linear-gradient(
            var(--backcolor2) 30%,
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(rgba(255, 255, 255, 0), var(--backcolor2) 70%) 0 100%,
        /* Shadows */
            radial-gradient(
                farthest-side at 50% 0,
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0)
            ),
        radial-gradient(
                farthest-side at 50% 100%,
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0)
            )
            0 100%;
    background-repeat: no-repeat;
    background-color: var(--backcolor2);
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}
