<div class="tool-bar">
    <span class="search-tool">
        <label for="herosearch">Search: </label>
        <input name="herosearch" [value]="hero.search$ | async" />
    </span>
    <span class="page-tool">
        <label
            >Page
            {{ hero.userPage$ | async }}
            of
            {{ hero.totalPages$ | async }} :
        </label>
        <span class="buttons">
            <button class="prev">Prev</button>
            <button class="next">Next</button>
        </span>
    </span>
    <span class="result-tool">
        <label>Show Results: </label>
        <span cla ss="buttons">
            <button
                *ngFor="let limit of hero.limits"
                [disabled]="(hero.limit$ | async) === limit"
            >
                {{ limit }}
            </button>
        </span>
    </span>
    <span class="total-tool">
        <label>Total Results: {{ hero.total$ | async }}</label>
    </span>
</div>
<div class="table-content">
    <rx-hero-badge *ngFor="let hero of heroes" [hero]="hero"></rx-hero-badge>
</div>
