<div class="tool-bar">
    <span class="search-tool">
        <label for="herosearch">Search: </label>
        <input
            name="herosearch"
            [value]="hero.search$ | async"
            (input)="hero.setSearch($event.target.value)"
        />
    </span>
    <span class="page-tool">
        <label
            >Page {{ hero.userPage$ | async }} of
            {{ hero.totalPages$ | async }} :
        </label>
        <span class="buttons">
            <button
                class="prev"
                [disabled]="(hero.page$ | async) <= 0"
                (click)="hero.movePageBy(-1)"
            >
                Prev
            </button>
            <button
                class="next"
                [disabled]="
                    (hero.page$ | async) >= (hero.totalPages$ | async) - 1
                "
                (click)="hero.movePageBy(1)"
            >
                Next
            </button>
        </span>
    </span>
    <span class="result-tool">
        <label>Show Results: </label>
        <span class="buttons">
            <button
                *ngFor="let limit of hero.limits"
                [disabled]="(hero.limit$ | async) === limit"
                (click)="hero.setLimit(limit)"
            >
                {{ limit }}
            </button>
        </span>
    </span>
    <span class="total-tool">
        <label>Total Results: {{ hero.total$ | async }}</label>
    </span>
</div>
<div class="table-content">
    <rx-hero-badge
        *ngFor="let hero of hero.heroes$ | async"
        [hero]="hero"
    ></rx-hero-badge>
</div>
